<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.azati.push_status"
        version="0.0.3">

  <name>IOS Push notifications availability status</name>
  <description>This plugin identifires status of availability application push notifications</description>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/push_status.js" name="push_status">
    <clobbers target="navigator.push_status" />
  </js-module>

  <platform name="ios">    
    <config-file target="config.xml" parent="/*">
      <feature name="PushStatus">
        <param name="ios-package" value="PushStatus" />
      </feature>
    </config-file>

    <header-file src="src/ios/PushStatus.h"/>
    <source-file src="src/ios/PushStatus.m"/>
  </platform>

</plugin>